{% extends "auctions/layout.html" %} {% block body %}
<h2>Listings in {{ category_name }}</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Owner</th>
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
            <th>Image</th>
            <th>Created</th>
        </tr>
    </thead>
    <tbody>
        {% for listing in listings %}
        <tr
            class="clickable"
            onclick="window.location='{% url 'listing' listing.pk %}'"
        >
            <td>{{ listing.owner.username }}</td>
            <td>{{ listing.title }}</td>
            <td>{{ listing.description }}</td>
            <td>{{ listing.price|floatformat:2 }}</td>
            <td>{{ listing.image_url }}</td>
            <td>{{ listing.date_created }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
