{% extends "auctions/layout.html" %} {% block body %}

<h2>Your watchlist</h2>
{% if watchlist %}
<table class="table table-hover table-striped table-bordered">
    <tbody>
        {% for listing in watchlist%}
        <div class="row">
            <tr class="clickable" onclick="window.location='{% url 'listing' listing.pk %}'">
                <td class="img_cell">
                    <img src="{{ listing.image_url }}" alt="Listing Image" />
                </td>
                <td class="description_cell">
                    <h3 class="l_title">{{ listing.title }}</h3>
                    <h5 class="l_price">
                        Price: {{ listing.price|floatformat:2 }}
                    </h5>
                    <p class="l_description">{{ listing.description }}</p>
                    <p class="l_category">
                        Category:
                        <a href="{% url 'category' listing.category %}">{{ listing.category_name }}</a>
                    </p>
                    <p class="l_created">
                        <small>Posted: {{ listing.date_created }}</small>
                    </p>
                </td>
            </tr>
        </div>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>Your watchlist is empty.</p>
{% endif %}
{% endblock %}
